<!--
      <tr  *ngFor="let dato of datos">
        <td *ngFor="let dat of dato">
          {{dat.fStr}}
          {{dat.fNum}}
        </td>
      </tr>
    -->   

    <div class="row">
        <div class="col s6 m7 card-g">
            <div class="card horizontal">
              <div class="card-image">
                <div class="card-ms center">Precio<br></div>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h3 class="center">93</h3>
                </div>
                <div class="card-action card-ms">
                  <p>Mínimo: ${{datos[0][1]}}</p>
                  <p>Máximo: ${{datos[5][1]}}</p>
                </div>
                <div class="card-action">
                  <p>{{datos[0][0].fStr}}</p>
                </div>
              </div>
            </div>

          </div>
              <div class="col s6 m7 card-g">
                  <div class="card horizontal">
                    <div class="card-image">
                      <div class="card-ms center">Precio<br></div>
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <h3 class="center">97</h3>
                      </div>
                      <div class="card-action card-ms">
                        <p>Mínimo: ${{datos[1][1]}}</p>
                        <p>Máximo: ${{datos[6][1]}}</p>                        
                      </div>
                      <div class="card-action">
                        <p>{{datos[1][0].fStr}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                    <div class="col s6 m7 card-g">
                        <div class="card horizontal">
                          <div class="card-image">
                            <div class="card-ms center">Precio<br></div>
                          </div>
                          <div class="card-stacked">
                            <div class="card-content">
                              <h3 class="center">D</h3>
                            </div>
                            <div class="card-action card-ms">
                                <p>Mínimo: ${{datos[2][1]}}</p>
                                <p>Máximo: ${{datos[7][1]}}</p>
                              </div>
                            <div class="card-action">
                                <p>{{datos[2][0].fStr}}</p>
                            </div>                        
                          </div>
                        </div>
                      </div>
                          <div class="col s6 m7 card-g">
                              <div class="card horizontal">
                                <div class="card-image">
                                  <div class="card-ms center">Precio<br></div>
                                </div>
                                <div class="card-stacked">
                                  <div class="card-content">
                                    <h3 class="center">95</h3>
                                  </div>
                                  <div class="card-action card-ms">
                                    <p>Mínimo: ${{datos[3][1]}}</p>
                                    <p>Máximo: ${{datos[8][1]}}</p>
                                  </div>
                                  <div class="card-action">
                                      <p>{{datos[3][0].fStr}}</p>
                                    </div>
                                </div>
                              </div>
                            </div>
                                <div class="col s6 m7 card-g">
                                    <div class="card horizontal">
                                      <div class="card-image">
                                        <div class="card-ms center">Precio<br></div>
                                      </div>
                                      <div class="card-stacked">
                                        <div class="card-content">
                                          <h3 class="center">GLP</h3>
                                        </div>
                                        <div class="card-action card-ms">
                                          <p>Mínimo: ${{datos[4][1]}}</p>
                                          <p>Máximo: ${{datos[9][1]}}</p>
                                        </div>
                                        <div class="card-action">
                                            <p>{{datos[4][0].fStr}}</p>
                                          </div>
                                      </div>
                                    </div>
                                  </div>

    </div>

