
* {
  box-sizing: border-box;
}

#myInputt {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.tableB{

background-color:rgb(255, 255, 255);
height: 400px;
width: 900px;
overflow: auto;

}
.tableA{
height:20%;
background-color:rgb(255, 255, 255);
}
.contenedor{
height: auto;
width: 900px;
border-bottom: 1.5px solid rgb(201, 43, 140);
border-top: 1.5px solid rgb(201, 43, 140);
background-color: rgb(252, 252, 252);
padding-bottom: 4%;
padding-top: 4%;
}

  
.card-g:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.15s ease;
}
.card-ms:hover{

background-color: rgb(245, 0, 87);
color: white;
}
.card-ms{
background-color: rgb(197, 17, 98);
color: azure;
}