
  <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(35, 35, 35);">
  </div>

  <div class="container">
      <div class="media-container-row">

          <div class="card  col-12 col-md-6 col-lg-4">
              <div class="card-img">
                  <span class="mbr-iconfont mbri-growing-chart"></span>
              </div>
              <div class="card-box align-center">
                  <h4 class="card-title mbr-fonts-style display-7">
                      Gráficos circulares</h4>
                  <p class="mbr-text mbr-fonts-style display-7">
                     Contiene tal y tal cosa de data</p>
                  <div class="mbr-section-btn text-center"><a href="index.html#dona" class="btn btn-white display-4"><span class="mbri-right mbr-iconfont mbr-iconfont-btn"></span>Ir</a></div>
              </div>
          </div>   
                       
            <div class="card  col-12 col-md-6 col-lg-4">
              <div class="card-img">
                  <span class="mbr-iconfont mbri-right"></span>
              </div>
              <div class="card-box align-center">
                  <h4 class="card-title mbr-fonts-style display-7">
                      Gráficos de barra</h4>
                  <p class="mbr-text mbr-fonts-style display-7">
                     Contiene tal y tal cosa de data
                  </p>
                  <div class="mbr-section-btn text-center"><a href="index.html#barra" class="btn btn-white display-4"><span class="mbri-right mbr-iconfont mbr-iconfont-btn"></span>Ir</a></div>
              </div>
          </div>

          <div class="card  col-12 col-md-6 col-lg-4">
              <div class="card-img">
                  <span class="mbr-iconfont mbri-more-horizontal"></span>
              </div>
              <div class="card-box align-center">
                  <h4 class="card-title mbr-fonts-style display-7">
                      Gráficos Linelaes</h4>
                  <p class="mbr-text mbr-fonts-style display-7">
                     Contiene tal y tal cosa de data
                  </p>
                  <div class="mbr-section-btn text-center"><a href="index.html#lineal" class="btn btn-white display-4"><span class="mbri-right mbr-iconfont mbr-iconfont-btn"></span>Ir</a></div>
              </div>
          </div>

          
      </div>
  </div>