
  <ul id="slide-out" class="sidenav white-text text-darken-4" style="background-color: #192a56 !important; ">
    <li><div class="user-view" >
      <div class="background">
          <img src="../../assets/images/back.jpeg">
      </div>
      <a href="#user"><img class="circle" src="../../assets/images/user.jpg"></a>
      <a href="#name"><span class="white-text name">Kevin setter</span></a>
      <a href="#email"><span class="white-text email">super8terprise@gmail.com</span></a>
    </div></li>  
    
    
    <li><h5>&nbsp;<i class="material-icons">contacts</i>&nbsp; Contactos</h5></li>
    <li><div class="divider" ></div></li>
    <li><a class="waves-effect" href=""></a></li>
    <li><div class="align-items-center fixed-bottom">
        <div class="row align-items-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">            
              <button (click)='back()' class="buttton luna"><li class="material-icons" style="color:black;">arrow_back</li></button>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
    </div></li>
  </ul>
  <a href="inicio/administrador/mensajes" data-target="slide-out" class="sidenav-trigger"><i class="medium material-icons">face</i></a>